@model SistemaVentas.Models.categoria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Categoria</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true)

                <div class="input-group col-md-6">
                    @Html.LabelFor(model => model.nombre, "Nombre de la Categoria", new { @class = "input-group-addon" })
                    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nombre)
                </div><br /><br />

                <div class="input-group col-md-6">
                    @Html.LabelFor(model => model.descripcion, "Descripción de la Categoria", new { @class = "input-group-addon" })
                    @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.descripcion)
                </div><br /><br />


                <div class="input-group col-md-6">
                    <input type="submit" value="Agregar" class="btn btn-success" id="btn_submit" />
                </div><br /><br /><br />
            </div>
}

<div class="input-group col-md-6">
    <a href="/Categoria/Index" class="btn btn-warning">Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
