@model IEnumerable<SistemaVentas.Models.categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @*@Html.ActionLink("Nuevo", "Create", new { @class = "btn btn-success" })*@
   <h2>Listado de Articulos <a href="/Categoria/Create" class="btn btn-success">Nuevo</a></h2>
    
</p>
<div class="row">
    <div class="col-log-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.idcategoria }, new { @class = "btn btn-info" }) 
                           @* @Html.ActionLink("Detalles", "Details", new { id = item.idcategoria }, new { @class = "btn btn-info" }) *@
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idcategoria }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
