@model SistemaVentas.Models.detalle_venta

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>¿Esta seguro de que se desea eliminar el Detalle de la Venta?</h3>
<div>
    <hr />
    <table class="table table-condensed">
        <tr class="warning">
            <th>Id del Articulo</th>
            <th>Tipo de Comprobante</th>
            <th>Cantidad</th>
            <th>Precio de la Venta</th>
            <th>Descuento</th>
        </tr>
        <tr class="success">
            <td>@Html.DisplayFor(model => model.articulo.codigo)</td>
            <td>@Html.DisplayFor(model => model.venta.tipo_comprobante)</td>
            <td>@Html.DisplayFor(model => model.cantidad)</td>
            <td>@Html.DisplayFor(model => model.precio_venta)</td>
            <td>@Html.DisplayFor(model => model.descuento)</td>
        </tr>
     </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a href="/Detalle_Venta/Index" class="btn btn-success">Cancelar</a>
                </div>
            }
</div>
