@model SistemaVentas.Models.detalle_venta

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar Detalles de la Venta</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.iddetalle_venta)

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.idventa, "ID de la Venta", new { @class = "input-group-addon" })
            @Html.DropDownList("idventa", (IEnumerable<SelectListItem>)ViewBag.idventa, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idventa)
        </div><br /><br />
        
        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.idarticulo, "ID del Articulo", new { @class = "input-group-addon" })
            @Html.DropDownList("idarticulo", (IEnumerable<SelectListItem>)ViewBag.idarticulo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idventa)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.cantidad, "Cantidad", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.cantidad)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.precio_venta, "Precio de la Venta", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.precio_venta, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.precio_venta)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.descuento, "Descuento", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.descuento, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.descuento)
        </div><br /><br />

        <div class="input-group col-md-6">
            <input type="submit" value="Guardar" class="btn btn-info" />
        </div>
    </div><br /><br /><br />
}

<div class="input-group col-md-6">
    <a href="/Detalle_Venta/Index" class="btn btn-warning">Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
