@model IEnumerable<SistemaVentas.Models.detalle_venta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Detalles de la Venta</h2>

<p>
    <a href="/Detalle_Venta/Create" class="btn btn-success">Nuevo</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Codigo del Articulo
        </th>
        <th>
            Tipo de Comprobante
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Precio Venta
        </th>
        <th>
            Descuento
        </th>
        <th>Accion</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.articulo.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venta.tipo_comprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.iddetalle_venta }, new { @class = "btn btn-info" })
           @* @Html.ActionLink("Details", "Details", new { id=item.iddetalle_venta }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.iddetalle_venta }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
