@model SistemaVentas.Models.articulo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>¿Esta seguro que quiere borrar el Articulo?</h3>
<div>
    <table class="table table-bordered">
        <tr class="warning">
            <th>Nombre de la Categoria</th>
            <th>Codigo del Producto</th>
            <th>Nombre del Producto</th>
            <th>Unidades disponibles del Producto (Stock)</th>
            <th>Descripción del Producto</th>
            <th>Imagen del Producto</th>
        </tr>
        <tr class="success">
            <td><p class="text-center">@Html.DisplayFor(model => model.categoria.nombre)</p></td>
            <td><p class="text-center">@Html.DisplayFor(model => model.codigo)</p></td>
            <td><p class="text-center">@Html.DisplayFor(model => model.nombre)</p></td>
            <td><p class="text-center">@Html.DisplayFor(model => model.stock)</p></td>
            <td><p class="text-center">@Html.DisplayFor(model => model.descripcion)</p></td>
            <td><img class="thumbnail" src="~/Uploads/@Html.DisplayFor(model => model.imagen)" alt="Imagen del Producto" width="200" height="150" /></td>
        </tr>
    </table>

        <hr />
         @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a href="/Articulo/Index" class="btn btn-success">Cancelar</a>
            </div>
        }
</div>
