@model SistemaVentas.Models.articulo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Articulo</h2>

@using (Html.BeginForm("Edit", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idarticulo)

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.idcategoria, "ID de la Categoria", new { @class = "input-group-addon" })
            @Html.DropDownList("idcategoria", null, String.Empty, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idcategoria)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.codigo, "Codigo del Producto", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.codigo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.codigo)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.nombre, "Nombre del Producto", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.nombre)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.stock, "Stock", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.stock, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.stock)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.descripcion, "Descripción del Producto", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.descripcion)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.imagen, "Imagen del Producto", new { @class = "input-group-addon" })
            <input type="file" name="file" value=" " class="form-control"  />
        </div><br /><br />


        <div class="input-group col-md-6">
            <input type="submit" value="Agregar" class="btn btn-info" />
        </div>
    </div><br /><br /><br />
}

<div class="input-group col-md-6">
    <a href="/Articulo/Index" class="btn btn-warning">Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
