@model IEnumerable<SistemaVentas.Models.articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Productos</h2>

<p>

    <a href="/Articulo/Create" class="btn btn-success">Nuevo</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>Nombre de la Categoria</th>
        <th>Codigo del Producto</th>
        <th>Nombre del Producto</th>
        <th>Unidades disponibles del Producto (Stock)</th>
        <th>Descripción del Producto</th>
        <th>Imagen del Producto</th>
        <th>Acción</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <p class="text-center">@Html.DisplayFor(modelItem => item.categoria.nombre)</p>
        </td>
        <td>
            <p class="text-center">@Html.DisplayFor(modelItem => item.codigo)</p>
        </td>
        <td>
            <p class="text-center">@Html.DisplayFor(modelItem => item.nombre)</p></td>
        <td>
            <p class="text-center"> @Html.DisplayFor(modelItem => item.stock)</p></td>
        <td>
            <p class="text-center">@Html.DisplayFor(modelItem => item.descripcion)</p></td>
        <td>
            <img class="thumbnail" src="~/Uploads/@item.imagen" width="200" height="200" alt="" />
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idarticulo }, new { @class = "btn btn-info" }) 
           @* @Html.ActionLink("Details", "Details", new { id = item.idarticulo }, new { @class = "btn btn-info" }) *@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idarticulo }, new { @class = "btn btn-danger" })
            
        </td>
    </tr>
}

</table>
