@model IEnumerable<SistemaVentas.Models.articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>

    <a href="/Articulo/Create" class="btn btn-success" >Nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoria.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagen)
            <img class="thumbnail" src="~/Uploads/@item.imagen" width="100" height="100" alt="" />
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idarticulo }, new { @class = "btn btn-info" }) 
           @* @Html.ActionLink("Details", "Details", new { id = item.idarticulo }, new { @class = "btn btn-info" }) *@
            @Html.ActionLink("Delete", "Delete", new { id = item.idarticulo }, new { @class = "btn btn-danger" })
            
        </td>
    </tr>
}

</table>
