@model SistemaVentas.Models.persona

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Esta seguro de Borrar la Información de esta persona?</h3>
<div>
    <h4>persona</h4>
    <hr />
    <table class="table table-condensed">
        <tr class="warning">
            <th>Tipo de Persona</th>
            <th>Nombre</th>
            <th>Tipo de Documento</th>
            <th>Numero de Documento</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <th>Correo Electronico</th>
        </tr>
        <tr class="success">
            <td>@Html.DisplayFor(model => model.tipo_persona)</td>
            <td>@Html.DisplayFor(model => model.nombre)</td>
            <td>@Html.DisplayFor(model => model.tipo_documento)</td>
            <td>@Html.DisplayFor(model => model.num_documento)</td>
            <td>@Html.DisplayFor(model => model.direccion)</td>
            <td>@Html.DisplayFor(model => model.telefono)</td>
            <td>@Html.DisplayFor(model => model.email)</td>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a href="/Persona/Index" class="btn btn-success">Cancelar</a>
        </div>
    }
</div>
