@model IEnumerable<SistemaVentas.Models.persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Clientes y Proveedores</h2>

<p>
    <a href="/Persona/Create" class="btn btn-success">Nuevo</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>Tipo de Persona</th>
        <th>Nombre</th>
        <th>Tipo de Documento</th>
        <th>Numero de Documento</th>
        <th>Dirección</th>
        <th>Telefono</th>
        <th>Correo Electronico</th>
        <th>Acción</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_persona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idpersona }, new { @class = "btn btn-info" }) 
           @* @Html.ActionLink("Details", "Details", new { id=item.idpersona }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idpersona }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
