@model SistemaVentas.Models.detalle_ingreso

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>detalle_ingreso</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.iddetalle_ingreso)

        <div class="form-group">
            @Html.LabelFor(model => model.idingreso, "idingreso", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idingreso", String.Empty)
                @Html.ValidationMessageFor(model => model.idingreso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idarticulo, "idarticulo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idarticulo", String.Empty)
                @Html.ValidationMessageFor(model => model.idarticulo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad)
                @Html.ValidationMessageFor(model => model.cantidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio_compra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio_compra)
                @Html.ValidationMessageFor(model => model.precio_compra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio_venta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio_venta)
                @Html.ValidationMessageFor(model => model.precio_venta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
