@model SistemaVentas.Models.detalle_ingreso

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar Información del Detalle Ingreso</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.iddetalle_ingreso)

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.idingreso, "ID del Ingreso", new { @class = "input-group-addon" })
            @Html.DropDownList("idingreso", null, String.Empty, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idingreso)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.idarticulo, "ID del Articulo", new { @class = "input-group-addon" })
            @Html.DropDownList("idarticulo", null, String.Empty, new { @class = "form-control" })
        </div>@Html.ValidationMessageFor(model => model.idarticulo)<br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.cantidad, "Cantidad", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control" })
        </div>@Html.ValidationMessageFor(model => model.cantidad)<br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.precio_compra, "Valor de La Compra", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.precio_compra, new { @class = "form-control" })
        </div>@Html.ValidationMessageFor(model => model.precio_compra)<br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.precio_venta, "Valor de La Venta", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.precio_venta, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.precio_venta)
        </div><br /><br />


        <div class="input-group col-md-6">
            <input type="submit" value="Guardar Cambios" class="btn btn-success" id="btn_submit" />
        </div><br /><br /><br />
    </div>
}

<div class="form-group col-md-6">
    <a href="/Detalle_Ingreso/Index" class="btn btn-warning">Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
