@model IEnumerable<SistemaVentas.Models.detalle_ingreso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Detalles de Ingreso</h2>

<p>
    <a href="/Detalle_Ingreso/Create" class="btn btn-success">Nuevo</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>Id del Articulo</th>
        <th>Tipo de Comprobante</th>
        <th>Cantidad</th>
        <th>Precio de la Compra</th>
        <th>Precio de la Venta</th>
        <th>Acción</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.articulo.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingreso.tipo_comprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_venta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.iddetalle_ingreso }, new { @class = "btn btn-info" }) 
           @* @Html.ActionLink("Details", "Details", new { id=item.iddetalle_ingreso }) | *@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.iddetalle_ingreso }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
