@model SistemaVentas.Models.venta

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Esta seguro que desea reembolsar la Venta?</h3>
<div>
    <hr />
    <table class="table table-condensed">
        <tr class="warning">
            <th>Id del Cliente</th>
            <th>Tipo de Comprobante</th>
            <th>Serie de Comprobante</th>
            <th>Numero de Comprobante</th>
            <th>Fecha y Hora de la Venta</th>
            <th>Impuesto de la Venta</th>
            <th>Valor Total de la Venta</th>
            <th>Estado</th>
        </tr>
        <tr class="success">
            <td>@Html.DisplayFor(model => model.idcliente)</td>
            <td>@Html.DisplayFor(model => model.tipo_comprobante)</td>
            <td>@Html.DisplayFor(model => model.serie_comprobante)</td>
            <td>@Html.DisplayFor(model => model.num_comprobante)</td>
            <td>@Html.DisplayFor(model => model.fecha_hora)</td>
            <td>@Html.DisplayFor(model => model.impuesto)</td>
            <td>@Html.DisplayFor(model => model.total_venta)</td>
            <td>@Html.DisplayFor(model => model.estado)</td>  
        </tr>
    </table>
  
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Reembolsar" class="btn btn-danger" />
            <a href="/Venta/Index" class="btn btn-success">Cancelar</a>
        </div>
    }
</div>

