@model SistemaVentas.Models.venta

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar Venta</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idventa)

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.idcliente, "ID del Cliente", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.idcliente, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idcliente)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.tipo_comprobante, "Tipo de Comprobante", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.tipo_comprobante, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tipo_comprobante)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.serie_comprobante, "Serie de Comprobante", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.serie_comprobante, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.serie_comprobante)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.num_comprobante, "Numero de Comprobante", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.num_comprobante, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.num_comprobante)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.fecha_hora, "Fecha y Hora de la Venta", new { @class = "input-group-addon" })
            <input type="datetime-local" name="fecha_hora" class="form-control" />
            @Html.ValidationMessageFor(model => model.fecha_hora)
        </div><br /><br /><br />

        

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.impuesto, "Impuesto", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.impuesto, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.impuesto)
        </div><br /><br />
        
        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.total_venta, "Valor Total de la Venta", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.total_venta, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.total_venta)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.estado, "Estado de la Venta", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.estado, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.estado)
        </div><br /><br /><br />

        <div class="input-group col-md-6">
            <input type="submit" value="Agregar" class="btn btn-success" id="btn_submit" />
        </div><br /><br /><br /> 
    </div>
}

<div class="form-group col-md-6">
    <a href="/Venta/Index" class="btn btn-warning">Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
