@model IEnumerable<SistemaVentas.Models.venta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro de Ventas</h2>

<p>
    <a href="/Venta/Create" class="btn btn-success">Nuevo</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            ID del Cliente
        </th>
        <th>
            Tipo de Comprobante
        </th>
        <th>
            Serie de Comprobante
        </th>
        <th>
            Numero de Comprobante
        </th>
        <th>
            Fecha y Hora de la Venta
        </th>
        <th>
            Impuesto
        </th>
        <th>
            Valor Total de la Venta
        </th>
        <th>
            Estado de la Venta
        </th>
        <th>Accion</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idcliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_comprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serie_comprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_comprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.impuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idventa }, new { @class = "btn btn-info" }) 
           @* @Html.ActionLink("Details", "Details", new { id=item.idventa }) |*@
            @Html.ActionLink("Reembolsar", "Delete", new { id = item.idventa }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
