@model SistemaVentas.Models.ingreso

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Añadir Nuevo Ingreso</h2>
        <hr />
        @Html.ValidationSummary(true)

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.idproveedor, "ID del Proveedor", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.idproveedor, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idproveedor)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.tipo_comprobante, "Tipo de Comprobante", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.tipo_comprobante, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tipo_comprobante)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.serie_comprobante, "Serie de Comprobante", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.serie_comprobante, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.serie_comprobante)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.num_comprobante, "Numero de Comprobante", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.num_comprobante, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.num_comprobante)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.fecha_hora, "Fecha y Hora del Ingreso", new { @class = "input-group-addon" })
            <input type="datetime-local" name="fecha_hora" class="form-control" />
            @Html.ValidationMessageFor(model => model.fecha_hora)
        </div><br /><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.impuesto, "Impuesto", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.impuesto, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.impuesto)
        </div><br /><br />

        <div class="input-group col-md-6">
            @Html.LabelFor(model => model.estado, "Estado del Ingreso", new { @class = "input-group-addon" })
            @Html.TextBoxFor(model => model.estado, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.estado)
        </div><br /><br /><br />

        <div class="input-group col-md-6">
            <input type="submit" value="Agregar" class="btn btn-success" id="btn_submit" />
        </div><br /><br /><br />
    </div>
}

<div class="form-group col-md-6">
    <a href="/Ingreso/Index" class="btn btn-warning">Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
