@model SistemaVentas.Models.ingreso

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Esta seguro de borrar el Ingreso?</h3>
<div>
    <table class="table table-condensed">
        <tr class="warning">
            <th>Id del Proveedor</th>
            <th>Tipo de Comprobante</th>
            <th>Serie de Comprobante</th>
            <th>Numero de Comprobante</th>
            <th>Fecha y Hora del Ingreso</th>
            <th>Impuesto del Ingreso</th>
            <th>Estado</th>
        </tr>
        <tr class="success">
            <td>@Html.DisplayFor(model => model.idproveedor)</td>
            <td>@Html.DisplayFor(model => model.tipo_comprobante)</td>
            <td>@Html.DisplayFor(model => model.serie_comprobante)</td>
            <td>@Html.DisplayFor(model => model.num_comprobante)</td>
            <td>@Html.DisplayFor(model => model.fecha_hora)</td>
            <td>@Html.DisplayFor(model => model.impuesto)</td>
            <td>@Html.DisplayFor(model => model.estado)</td>
        </tr>
    </table>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a href="/Ingreso/Index" class="btn btn-success">Cancelar</a>
        </div>
    }
</div>
