@model IEnumerable<SistemaVentas.Models.ingreso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Ingresos</h2>

<p>
    <a href="/Ingreso/Create" class="btn btn-success">Nuevo</a>
</p>
<table class="table table-bordered" >
    <tr>
        <th>
            ID del Proveedor
        </th>
        <th>
            Tipo del Comprobante
        </th>
        <th>
            Serie del Comprobante
        </th>
        <th>
            Numero del Comprobante
        </th>
        <th>
            Fecha y Hora del Ingreso
        </th>
        <th>
            Impuesto
        </th>
        <th>
            Estado
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idproveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_comprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serie_comprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_comprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.impuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idingreso }, new { @class = "btn btn-info" }) 
                @* @Html.ActionLink("Details", "Details", new { id = item.idingreso }, new { @class = "btn btn-info" }) |*@
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idingreso }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
